.span10
  %ul.nav.nav-tabs
    %li.active
      %a{:name => "#{c.name}"}= c.name
    - sub = Category.where(:parent_id => c.id).limit(5)
    - ids = [c.id,]
    - sub.each do |s|
      - ids << s.id;
      %li
        %a{:href => "category/#{s.id}"}= s.name
    %a.pull-left{:href => "/category/#{c.id}", :style => 'line-height:35px;'}
      %span.label.label-success 更多
.span12{:style => 'margin:20px 0 0 0 ;'}
  %ul.thumbnails
    - products = Product.where('coupon_end_time > ?', Date.today).where('category_id in (?)', ids).limit(15).order('volume desc')
    - products.each do |p|
      = render :partial => 'shared/product', :locals => {:p => p}

