%table#admin_user.table.table-bordered
  %thead
    %tr
      %th ID
      %th 用户名
      %th Email
      %th{:style => 'width:200px;'} Ops
  %tbody
    - @users.each do |u|
      %tr
        %td
          %small= u.id
        %td
          %small= u.name
        %td
          %small= u.email
        %td
          - unless u.is_admin
            %a.btn.btn-mini.btn.op{:href => 'javascript:void(0)', :'data-id' => u.id, :'data-op' => 'set_admin'} 设为管理员
          - else
            %a.btn.btn-mini.btn-danger.op{:href => 'javascript:void(0)', :'data-id' => u.id, :'data-op' => 'unset_admin'} 取消管理员

.pull-right= will_paginate @users
